<%- include('../partials/html-head') %>
<%- include('../partials/_navbar.ejs') %>

    <title><%= user.username %>'s PlayBox</title>
</head>
<body>
    <h1><%= user.username %>'s PlayBox</h1>
    <ul>
        <% user.games.forEach(game => { %>   
            <li><a href="/community/<%= user._id %>/<%= game._id %>"><%= game.title %></a></li>
        <% }); %>
    </ul>
    <a href="/community">Back to Community</a>
</body>
</html>
