<%- include('../partials/html-head') %>
<%- include('../partials/_navbar.ejs') %>

<title>My Games</title>
</head>

<body>
        <h1>Here are your Games</h1>
        <ul>
            <% games.forEach((game) => { %>
                <li>
                <a href="/users/<%= user._id %>/games/<%= game._id %>">
                    <%= game.title %>
                </li>
                <% }) %>
            </ul>
            <div class="link"><a href="/users/<%= user._id %>/games/new">Add New Game</a></div>
</body>

</html>