<%- include('../partials/html-head') %>
<%- include('../partials/_navbar.ejs') %>

    <title><%= game.title %></title>
</head>
<body>
    <h1><%= game.title %></h1>
    <p>Category: <%= game.category %></p>
    <p>Hours Played: <%= game.hoursPlayed %></p>
    <p>Level Reached: <%= game.levelReached %></p>
    <% if (game.notes) { %>
    <p>Notes: <%= game.notes %></p>
    <% } %> 
    
      <% if (user._id.toString() === currentUser._id.toString()) { %>
    <div class="link"><a href="/users/<%= user._id %>/games/<%= game._id %>/edit">Edit Game Details</a></div>

    
    <form
    action="/users/<%= user._id %>/games/<%= game._id %>?_method=DELETE"
    method="POST"
    >
    <button type="submit">Delete Game</button>
  </form>
  <% } %>


</body>
</html>